 <legend>Omniture Tracking</legend>

<p>Please complete this section of the form to enable Omniture tracking for the video.</p>

<p>The following Omniture events will be tracked:</p>

<ul>
    <li>First time video plays: event40</li>
    <li>Video reaches end of playback: event41</li>
</ul>

<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Tracked video name</span>
    <input type="text" class="form-control" placeholder="The readable name of the video as it will be shown in Omniture" aria-describedby="basic-addon1" ng-model="videoTagCtrl.video.trackedVideoName">
</div>